*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html,
body{
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: rgb(14, 13, 13);
}

.mainbox {
  background-image: url('https://imgs.search.brave.com/emJXVaIrx2WpA31aXDcpNHayYcJpvbUPQUiPeX5b0MY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMwLmNicmltYWdl/cy5jb20vd29yZHBy/ZXNzL3dwLWNvbnRl/bnQvdXBsb2Fkcy8y/MDI1LzA0L2pvaG4t/d2ljay01LmpwZz9x/PTQ5JmZpdD1jcm9w/Jnc9MjIwJmg9MTgy/JmRwcj0y');
  height: 300px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(76, 182, 235);
  margin: 20px 20px;
  border-radius: 15px;
  padding: 20px 0;
  position: relative;
}

.mainbox h1{
  font-size: 25px;
}
.secondbox{
  height: 70%;
  width:90%;
  background-color: rgb(238, 230, 230);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;  
  gap: 5px;
}

.secondbox h1{
  margin-top: 27px;
}
.profilephoto{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-top: 10px;
  top: 50px;  
  left: 50%;
  transform: translateX(-50%);
  background-color: gray;
  object-fit: cover;
  position: absolute;
  z-index: 10;
}

.tags{
  display: flex;
  gap: 10px;
  height: 20px;
  width: fit-content;
  background-color: brown;
  font-weight: 500;
  border-radius: 50px;
  width: 45%;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
}

.tags h4{
  font-weight: 300  ;
  font-size: 13px;
}

.mainbox p{
  font-size: 13px;
  text-align: center;
  padding-top: 10px;

}

.bottombox{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-top: auto;
 
  
}


.followbutton{
  height: 42px;
  width: 120px;
  border-radius: 20px;
  margin-left: 10px;
  border: 1px solid rgb(10, 8, 8);
  background-color: black;
  color: white;
  
}

.likebutton{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  align-self: center;
  align-content: center;
 
  margin: auto;
}