body{
  background-color: #000000;
  color: aliceblue;
}

.card {
  border: 1px solid #000000;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  width: 20%;
  background-color: #1c1c1c;
  flex-wrap: nowrap;
}
